@charset "UTF-8";
:root {
  --main-bg-color: #ADE28A; /* Cor de fundo principal */
  --header-color: #333; /* Cor do cabeçalho */
  --text-color: #555; /* Cor do texto */
}

body {
  background-color: var(--main-bg-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, p {
  color: var(--text-color);
}

.container-monitor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 6%;
}

.container-monitor h1 {
  color: var(--header-color);
  font-size: 24px;
}

.image-monitor {
  border-radius: 2%;
}

/*.*/
#monitoramento-titulo {
  text-align: center;
  margin-top: 5%;
  font-size: 2.5em;
}

.container-imagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15%;
  margin-left: -40%;
  width: 40vw;
  height: 50vh;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  background-color: #256670;
}

.container-imagens p {
  color: #ADE28A;
  font-size: 2.1em;
  font-weight: bold;
}

#btnMonitorar {
  height: 10vh;
  margin-top: 4vh;
  margin-left: 14vw;
  z-index: 100;
}

#distanciaRetorno {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 42px;
  margin-top: 20vh;
  margin-left: -20vw;
  margin-right: 0vw;
  z-index: 0;
}

#pesoRetorno {
  color: white;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  margin-top: 5vh;
  margin-left: -20vw;
  margin-right: 0vw;
  z-index: 1;
}

.retorno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  #pesoRetorno, #distanciaRetorno {
    font-size: 35px;
  }
}

@media screen and (max-width: 1325px) {
  #pesoRetorno, #distanciaRetorno {
    font-size: 28px;
  }

  .retorno{
    margin-top: 4vh
  }
}


@media screen and (max-width: 1024px) {
  .container-imagens {
    top: 15%;
    margin-bottom: 20%;
  }

  #monitoramento-titulo {
    display: flex;
    margin-top: 10%;
    margin-left: 85%;
    font-size: 30px;
  }

  #btnMonitorar {
    width: 170px;
    margin-left: 12vw;
  }

  #pesoRetorno, #distanciaRetorno {
    margin-left: -22vw;
  }
}
@media screen and (max-width: 768px) {
  .container-imagens {
    width: 120%;
    left: -20%;
    top: 25%;
  }
  #monitoramento-titulo {
    font-size: 30px;
    margin-top: 22%;
    margin-left: 75%;
  }
  #btnMonitorar {
    margin-left: 17vw;
  }
  #pesoRetorno, #distanciaRetorno {
    margin-left: -29vw;
  }
}
@media screen and (max-width: 425px) {
  .container-imagens {
    width: 350%;
    left: -110%;
    top: 50%;
  }
  #monitoramento-titulo {
    margin-top: 50%;
    font-size: 30px;
  }
  #btnMonitorar {
    margin-left: 42vw;
  }
  #pesoRetorno, #distanciaRetorno {
    margin-left: -59vw;
  }
}
@media screen and (max-width: 375px) {
  .container-imagens {
    width: 500%;
    left: -205%;
    top: 70%;
  }
  #monitoramento-titulo {
    margin-top: 70%;
    margin-left: 60%;
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  .container-imagens {
    width: 1000%;
    left: -495%;
    top: 70%;
  }
  #monitoramento-titulo {
    margin-left: 55%;
  }
  #pesoRetorno, #distanciaRetorno {
    margin-left: -70vw;
  }

}/*# sourceMappingURL=Monitoramento.css.map */